<!DOCTYPE html>
<html>
  <head>
    <title><%= username %> profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/book">List books</a>

    <div>
      Username: <%= username %>
    </div>
    <div>
      Number of books: <%= books.length %>
    </div>
  </body>
</html>
