html {
background: url('http://ts1.mm.bing.net/th?&id=JN.Qcpgfa7ZxIMoaN3acgvmjQ&w=300&h=300&c=0&pid=1.9&rs=0&p=0') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; background-color: none;
}

a {
  color: black;
}

.additionalContent {
	display: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #BBB;
}
#UPP {font: 24px; font-family: 'Oswald' sans-serif;
color: #FFFFFF;}
.bookpage{
  background-color: none;
}
