html {
background: url('http://ts2.mm.bing.net/th?id=JN.WnXj5q9%2fdiUXAVV9tRsyig&w=263&h=170&c=7&rs=1&qlt=90&o=4&cb=10&pid=1.1') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; background-color: transparent;
}

a {
  color: black;
}

.additionalContent {
	display: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #BBB;
}
