body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

.additionalContent {
	display: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #BBB;
}
