body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/girl-reading-books.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

.additionalContent {
	display: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #BBB;
}