
html {
background: url('../images/girl-reading-books.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
a {
  color: #00B7FF;
}

.additionalContent {
	display: none; background-color: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #BBB;
}
